.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding-top: 20px;
    font-size: medium;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 50%;
    border: 1px solid #5bc5a7;
    color: #5bc5a7;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #5bc5a7;
  }
  
  .paginationActive a {
    color: white;
    background-color: #5bc5a7;
  }
  
  .paginationDisabled a {
    color: grey;
    background-color: grey;
  }